{% load static %}
*{
    padding: 0;
    margin: 0;

}

.container {
    border-radius: 25px;
    box-shadow: 12px 12px 22px;
    min-height: 360px;
}


.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    margin-bottom: 5%;
}

.backImg {
    background: rgb(33,37,41);
    position: relative;
    display: flex;
    justify-content: center;
}


.form-control{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    font-size: 20px;

}

.form-controlDrop{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
    font-size: 20px;
    background-color: #ffffff;
}

.typo {
    font-size: 20px;
}

.typo2 {
    font-size: 40px;
}

.btn1 {
    height: 120%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(33,37,41);
    color:white;
    font-size: 30px;
}

h1 {
   color: rgb(201,61,61);

}

h2 {
   color: rgb(201,61,61);

}

.btn1:hover{
    background: rgb(190,47,47);
    transition: 0.4s;
}

textarea{
    resize: none;
}


input[type="file"]{
    display: none;
}

figcaption{
    margin: 5px 0 5px 0;
    text-align: center;
    color: #000000;
    font-size: 20px;
}

#lblimg {
    display: block;
    position: relative;
    background-color: #570909;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
}


#chosen-image {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 550px;

}



