{% extends "baseWiki.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/mostrar_tarjeta.css?v56" type="text/css">


    <div class="container col-lg-12 bg-light">
    <div class="row">

        <div class="col-lg-6">
        <form method="post" action=""> {% csrf_token %}
            <label class="mb-2 labelT">Crea una lista</label>
                {{ FormularioLista.titulo }}
            <input type="submit" value="Crear lista" class="btn1 mt-4 mb-3"/>
        </form>
        </div>

    <div class="col-lg-6">
        <form method="post" action=""> {% csrf_token %}
        <label class="mb-2 labelT">Filtra tarjetas</label>
        <select name = "dropdown" class="form-controlDrop mt-2" >
            <option value="" selected="selected" hidden="hidden">Selecciona una lista</option>
            {% for i in listas %}
                <option value="{{ i.id }}">{{ i.titulo }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar" class="btn1 mt-4 mb-3"/>
    </form>
    </div>

    </div>


 <div class="container pb-5 animate__animated animate__fadeInDown">
    <div class="col-lg-12 bg-light mt-4">


    <div class="row g-3">
    {% if tarjetas %}
            {% for i in tarjetas %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center text-white bg-dark border-light h-100">
                            <div class="overflow">
                                {% if i.foto %}
                                    <img alt="{{ i.titulo }}" src="{{ i.foto.url }}"  height="400" alt="MiWaifu1"  class="card-img-top"/>
                                {% endif %}
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title mb-3 " >{{ i.titulo }}</h4>
                                <h5 class="card-title mb-3 " >{{ i.idtipotarjeta.tarjeta_tipo }}</h5>
                                <p class="card-text">{{ i.descripcion }}</p>
                                <form action="/detalle_tarjeta/{{ i.id }}" method="GET" class="mt-auto">
                                    <!--<a href="#" class="btn btn-danger btn-lg mt-auto">Ver más</a>-->
                                    <input value="Ver más" class="btn btn-danger btn-lg mt-auto" type="submit">
                                </form>
                            </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div >
      <!-- Separación footer -->
    </div >

    <div class="pb-5">

    </div>
    <div class="pb-5">
    </div>
  </div>
</div>
{% endblock %}